@model WebLinhKienMayTinh.Models.SanPham
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<div class="container-fluid">
    <div class="col-md-9">
        <div class="col-md-5 product-price">
            <div class="flexslider">
                <ul class="slides">
                    <li data-thumb="@Url.Content("~/Content/images/sanpham/" + Model.HinhAnh)">
                        <img src="@Url.Content("~/Content/images/sanpham/" + Model.HinhAnh)"/>
                    </li>
                    <li data-thumb="@Url.Content("~/Content/images/sanpham/" + Model.HinhAnh1)">
                        <img src="@Url.Content("~/Content/images/sanpham/" + Model.HinhAnh1)"/>
                    </li>
                    <li data-thumb="@Url.Content("~/Content/images/sanpham/" + Model.HinhAnh2)">
                        <img src="@Url.Content("~/Content/images/sanpham/" + Model.HinhAnh2)"/>
                    </li>
                    <li data-thumb="@Url.Content("~/Content/images/sanpham/" + Model.HinhAnh3)">
                        <img src="@Url.Content("~/Content/images/sanpham/" + Model.HinhAnh3)"/>
                    </li>
                </ul>
            </div>
            <!-- FlexSlider -->
            <script defer src="~/Content/js/jquery.flexslider.js"></script>
            <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen"/>

            <script>
                // Can also be used with $(document).ready()
                $(window).load(function() {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        controlNav: "thumbnails"
                    });
                });
            </script>

        </div>
        <div class="col-md-7 product-price1 simpleCart_shelfItem">
            <ol class="breadcrumb">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Mục</a>
                </li>
                <li class="active">Current</li>
            </ol>
            <div class="single-para ">
                <div class="page-header">
                    <h1>
                        <small> @Model.TenSP</small>
                    </h1>
                </div>
                <div class="star-on">
                    <div class="review">

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <h2>Giá:</h2>
                <h5 class="item_price">@Model.DonGia.Value.ToString("#,##") VNĐ</h5>
                <p>
                    @Html.Raw(Model.CauHinh)
                </p>
                <a href="@Url.Action("ThemGioHang","GioHang", new {MaSP=Model.MaSP, strURL=Request.Url.ToString()})" class="add-cart item_add">Đặt hàng</a>
            </div>
            <div class="clearfix"> </div>
            <br/>
            <br/>
            <br />
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3>Đặc điểm chính</h3>
                <hr/>
                @Html.Raw(Model.MoTa)
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="panel panel-primary sty">
            <div class="panel-heading" style="background-color: rgb(40, 138, 214);">
                <h3 class="panel-title">Ưu đãi khi mua hàng</h3>
            </div>
            <div class="panel-body">
                <ul style="padding-left: 15px;">
                    <li style="color: rgb(85, 85, 85); text-align: left; font-size: 14px; margin-bottom: 10px;">Hỗ trợ mua thẻ nhớ 16G Ultra Sandisk Class 10 Chính hãng giá 200.000vnđ</li>
                    <li style="color: rgb(85, 85, 85); text-align: left; font-size: 14px; margin-bottom: 10px;">Hỗ trợ mua Pin dự phòng Xiaomi 10.000mah – bản 2015 giá 310.000vnđ</li>
                    <li style="color: rgb(85, 85, 85); text-align: left; font-size: 14px; margin-bottom: 10px;">Hỗ trợ cài đặt đầy đủ các phần mềm ứng dụng, Games, Themes, Video, Music ... hoàn toàn miễn phí trong suốt quá trình sử dụng máy</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color: rgb(255, 0, 0); color: #fff">
                <h3 class="panel-title">HƯỚNG DẪN MUA HÀNG</h3>
            </div>
            <div class="panel-body">
                <ul style="padding-left: 15px;">
                    <li>Cần tư vấn, inbox yêu cầu TẠI ĐÂY</li>
                    <li>Đặt mua trực tiếp trên website và nhân viên bán hàng sẽ gọi lại cho Quý khách hàng</li>
                    <li>Gọi ngay 0904.620.620 - 0943.13.3333</li>
                    <li>Đến địa chỉ: 187A Đường 3/2 - P11 - Quận 10, TP. HCM</li>
                    <li>Mua sỉ / Số lượng lớn xin gọi 0904.620.620 để được hỗ trợ</li>
                </ul>
            </div>
        </div>
        <hr />
        <form action="" method="POST" class="form-horizontal" role="form">
            <div class="form-group">

                <legend>Bình luận</legend>


                <div>
                    <textarea name="" id="textarea" class="form-control" rows="3" required="required"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-primary" style="background: #e92c33;">Gửi nội dung</button>
                </div>
            </div>
        </form>
    </div>
</div>
