@using WebLinhKienMayTinh.Models


<div class="header-top">
    <div class="container">
        <div class="search">
            @* Tạo form submit  về action tìm kiếm*@
            @using (@Html.BeginForm("LayTuKhoaTimKiem", "TimKiem"))
            {
                <input type="text" name="sTuKhoa" placeholder="Nhập từ khóa...">
                <input type="submit" value="Tìm kiếm">
            }
        </div>
        <div class="header-left">
            @if (Session["TaiKhoan"] != null && Session["TaiKhoan"] != "")
            {
                ThanhVien tv = (ThanhVien)Session["TaiKhoan"];      
                <ul>                  
                    <li><a>@tv.HoTen</a></li>
                    <li>@Html.ActionLink("Đăng xuất", "DangXuat", "Home")</li>
                </ul>

            }
            else
            {
                <ul>
                    <li><a href="#" id="btnDangNhap">Đăng nhập</a></li>
                    <li><a href="@Url.Action("DangKy", "Home")">Đăng ký</a></li>
                </ul>
            }
            @*Tách icon giỏ hàng sang 1 partial view mới*@
            @Html.Action("GioHangPartial", "GioHang")
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>


<link href="~/Content/css/style_login.css" rel="stylesheet" />
<div id="popup_login">
    <div style="position: relative;">
        <div style="position: absolute; margin-top: 1%; margin-left: 61%;">
            <span id="close-form" class="btn btn-danger">X</span>
        </div>
        <div class="login-form-login" style="-webkit-box-sizing: content-box !important; -moz-box-sizing: content-box !important; box-sizing: content-box !important;">
            <h2>Đăng nhập</h2>
            <div class="form-info-login">
                @using (Html.BeginForm("DangNhap", "Home"))
                {
                    <input name="txtTenDangNhap" type="text" class="email" placeholder="Tên đăng nhập" required="">
                    <input name="txtMatKhau"type="password" class="password" placeholder="Mật khẩu" required="">
                    <p>
                        <a href="#">Quên mật khẩu?</a>
                    </p>
                    <ul class="login-buttons-login">
                        <li><input type="submit" id="submit-login" value="Đăng nhập"></li>
                        <li><a href="@Url.Action("DangKy","Home")" class="hvr-sweep-to-left">Đăng ký</a></li>
                        <div class="clear"> </div>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

@*Sử dụng jquery hiển thị popup đăng nhập*@
<script>
    // Hiển thị popup_login
    $("#btnDangNhap").click(function () {
        $("#popup_login").show();
    });
    $("#close-form").click(function () {
        $("#popup_login").hide();
    });
</script>