@using WebLinhKienMayTinh.Models

@{
    var listSanPham1 = ViewBag.lstSanPham1 as IEnumerable<SanPham>;
    var listSanPham2 = ViewBag.lstSanPham2 as IEnumerable<SanPham>;
}
<div class=" h_menu4">
    <ul class="memenu skyblue">
        <li class="active grid" style="display: inline;"><a class="color8" href="@Url.Action("Index", "Home")">Trang chủ</a></li>
        @*Menu cho các sản phẩm chính của cửa hàng*@
        @foreach (var groupItem in listSanPham1.GroupBy(n => n.LoaiSanPham))
        {
            if (groupItem.Key != null)
            {
                <li style="display: inline;">
                    <a class="color2" href="#">@groupItem.Key.TenLoai</a>
                    <div class="mepanel" style="display: none; opacity: 1;">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <ul>
                                        @foreach (var item in groupItem.GroupBy(n => n.NhaSanXuat))
                                        {
                                            if (item.Key != null)
                                            {
                                                <li><a href="@Url.Action("SanPham","SanPham",new{@MaLoaiSP=groupItem.Key.MaLoaiSP, @MaNSX=item.Key.MaNSX})">@item.Key.TenNSX</a></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }


        <li class="grid" style="display: inline;">
            <a class="color2" href="#">Phụ kiện khác</a>
            <div class="mepanel">
                <div class="row">
                    @foreach (var groupItem in listSanPham2.GroupBy(n => n.LoaiSanPham))
                    {
                        if (groupItem.Key != null)
                        {
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>@groupItem.Key.TenLoai</h4>
                                    <ul>
                                        @foreach (var item in groupItem.GroupBy(n => n.NhaSanXuat))
                                        {
                                            <li><a href="@Url.Action("SanPham","SanPham",new{@MaLoaiSP=groupItem.Key.MaLoaiSP, @MaNSX=item.Key.MaNSX})">@item.Key.TenNSX</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </li>
        <li style="display: inline;"><a class="color2" href="contact.html">Liên hệ</a></li>
    </ul>
</div>

