@model WebLinhKienMayTinh.Models.ThanhVien
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Layout/DangKyLayout.cshtml";
}

<div class="DangKy">
    <div class=" register">
        <h1>Đăng ký thành viên</h1>
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary(true)
            <div class="col-md-6 register-top-grid">
                <h3>Thông tin cá nhân</h3>
                <div class="titleclass">
                    @Html.LabelFor(model => model.HoTen, new { @class = "control-label " })
                    @Html.TextBoxFor(model => model.HoTen, new { @class = "cHoTen" })
                    @Html.ValidationMessageFor(model => model.HoTen)
                </div>
                <div class="titleclass">
                    @Html.LabelFor(model => model.DiaChi, new { @class = "control-label " })
                    @Html.TextBoxFor(model => model.DiaChi, new { @class = "cDiaChi" })
                    @Html.ValidationMessageFor(model => model.DiaChi)
                </div>
                <div class="titleclass">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label " })
                    @Html.TextBoxFor(model => model.Email, new { @class = "cEmail" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="titleclass">
                    @Html.LabelFor(model => model.SoDienThoai, new { @class = "control-label " })
                    @Html.TextBoxFor(model => model.SoDienThoai, new { @class = "cSoDienThoai" })
                    @Html.ValidationMessageFor(model => model.SoDienThoai)
                </div>
            </div>
            <div class="col-md-6 register-bottom-grid register-top-grid">
                <h3>Thông tin đăng nhập</h3>
                <div class="titleclass">
                    @Html.LabelFor(model => model.TaiKhoan, new { @class = "control-label " })
                    @Html.TextBoxFor(model => model.TaiKhoan, new { @class = "cTaiKhoan" })
                    @Html.ValidationMessageFor(model => model.TaiKhoan)
                </div>
                <div class="titleclass">
                    @Html.LabelFor(model => model.MatKhau, new { @class = "control-label " })
                    @Html.PasswordFor(model => model.MatKhau, new { @class = "cMatKhau" })
                    @Html.ValidationMessageFor(model => model.MatKhau)
                </div>
                <div class="titleclass">
                    @Html.LabelFor(model => model.NhapLaiMatKhau, new { @class = "control-label " })
                    @Html.PasswordFor(model => model.NhapLaiMatKhau, new { @class = "cNhapLaiMatKhau" })
                    @Html.ValidationMessageFor(model => model.NhapLaiMatKhau)
                </div>
                <div class="titleclass">
                    @Html.LabelFor(model => model.CauHoi, new { @class = "control-label " })
                    @Html.DropDownList("CauHoi", null, new { @class = "form-control dropdownCustom" })
                </div>
                <div class="titleclass">
                    @Html.LabelFor(model => model.CauTraLoi, new { @class = "control-label " })
                    @Html.TextBoxFor(model => model.CauTraLoi, new { @class = "cCauTraLoi" })
                    @Html.ValidationMessageFor(model => model.CauTraLoi)
                </div>
                <div class="titleclass">
                    @*@Html.MathCaptcha()*@
                </div>
                <input value="Xác nhận" type="submit">
            </div>
            <div class="clearfix"> </div>
        }
    </div>
</div>
<h1 style="color:red;"> @ViewBag.ThongBao</h1>
<style>
    .titleclass {
        margin-top: 1%;
        text-align: left;
    }

    .dropdownCustom {
        padding: 1em;
        margin: 1em 0;
        height: auto;
        border: 1px solid #A09F9F;
        border-radius: 0;
    }

    .register-bottom-grid span {
        color: red;
    }

    .register-top-grid span {
        color: red;
    }
</style>
<script>
    $(".titleclass").find("a").prop("href", "#a");
</script>


